<!DOCTYPE html>
<html lang="en-GB">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
		integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
		crossorigin="anonymous" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<title>My Holy Grail</title>
</head>

<body>
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">My Holy Grail</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{{ url_for('get_categories') }}">Categories</a></li>
				<li><a href="{{ url_for('get_products') }}">Home</a></li>
				{% if current_user.is_anonymous %}
				<li><a href="{{url_for('signup') }}">Sign Up!</a></li>
				<li><a href="{{url_for('login') }}">Login</a></li>
				{% else %}
				<li><a href="{{ url_for('profile', username=current_user.user_session['username']) }}">Profile</a></li>
				<li><a href="{{ url_for('post_review') }}">Add Yours!</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
				
				
				{% endif %}
			</ul>
			<ul id="nav-mobile" class="sidenav">
				<li><a href="{{ url_for('get_categories') }}">Categories</a></li>
				<li><a href="{{ url_for('get_products') }}">Home</a></li>
				{% if current_user.is_anonymous %}
				<li><a href="{{ url_for('signup') }}">Sign Up!</a></li>
				<li><a href="{{ url_for('login') }}">Login</a></li>
				{% else %}
				<li><a href="{{ url_for('profile', username=current_user.user_session['username']) }}">Profile</a></li>
				<li><a href="{{ url_for('post_review') }}">Add Yours!</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
				
				{% endif %}
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
	</nav>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="row flashes">
					<h4 class="red lighten-4 center-align">{{ message }}</h4>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
				    {% block content %}
				    {% endblock %}

<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col s5 offset-s1">
				<h5 class="white-text">Follow Us </h5>
			    <i class="material-icons prefix">account_circle</i>
                <i class="material-icons prefix">account_balance_wallet</i>
                <i class="material-icons prefix">linked_camera</i>
                </div>
			<div class="col s5  offset-s1">
				<h5 class="white-text"> Popular Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Get In Touch</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Cookie preferences</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">T&C</a></li>
					<li><a class="grey-text text-lighten-3" href="{{url_for('administrator')}}">Admin Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2020 Copyright

		</div>
	</div>
</footer>

            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
			<script src="{{ url_for('static', filename='js/init.js') }}"></script>
</body>
</html>