{% extends "base.html" %}
{% block content %}
<section class="container index-search ">
	<div class="search row ">
	  <form method="POST" action="search" class="valign-wrapper center">
		<button class=" submit-btn btn-small waves-effect waves-light blue" type="submit" name="action"> Search  <i class="material-icons">search</i></button>
		<div class="col s10 valign-wrapper">
		  <label class="label-icon" for="search"></label>
		  <input class="input_search" id="word_find" name="word_find" type="search" placeholder="search" required>
		</div>
	  </form>
	</div>
  </section>    
<div>

<h2>Categories</h2>
{% for product in products %}
<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h4 class="header col s12 light">{{ product.product_name }}</h4><br>
				<h4 class="header col s12 light">By</h4><br>
				<h5 class="header col s12 light">{{ product.brand }}</h5>

				<img src="{{ product.item_image_url }}" class="responsive-img" alt="{{ product_name }}">

				<p>{{ product.reviews }}<br> </p>
			</div>
		</div>
	</div>
    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text text-lighten-2">Our Selection</h1>
        <div class="row center">
          <h5 class="header col s12 black-text text-lighten-4">A modern responsive....</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br>
        <br>
      </div>
    </div>
    <div class="parallax"><img src=" {{ url_for('static', filename='img/background1.jpg') }}" alt="Unsplashed background img 1"></div>
  </div>
	<div class="parallax">
		<img src=" {{ url_for('static', filename='img/background2.jpg') }}" alt="Unsplashed background img 1"></div>

	</div>
	<div class="container">
		<div class="section">

			<div class="row">
				<div class="col s12 center">
					<h3><i class="mdi-content-send brown-text"></i></h3>
					<h5><a class="" href="{{ url_for('get_products', product_id=product.name) }}"></a></h5>


					<p class="left-align light"></p>
				</div>
			</div>

		</div>
	</div>

	<div class="parallax">
	
	</div>
	<div>

	</div>

	{% endfor %}
	{% endblock %}